<div class="calculate">
  <h2>Simulação de empréstimo</h2>
  <div class="form">
      <label for="value">Valor da parcela</label>
      <input [(ngModel)]="value" type="text" id="value" required>
  
      <label for="installments">Digite a quantidade de parcelas</label>
      <input [(ngModel)]="installments" min="1" type="number" id="installments" required>
  
      <button (click)="calculateTotalValue()">Calcular</button>
  </div>  
</div>

<div *ngIf="totalValue" class="total">
  <h3>Total a pagar</h3>
  {{totalValue.total | currency:'BRL'}}
</div>