<div class="calculate">
  <h2>Simulação de empréstimo</h2>
  <div class="form">
    <mat-form-field class="example-full-width">
      <mat-label>Valor da parcela</mat-label>
      <span matPrefix>R$ &nbsp;</span>
      <input type="tel" matInput [(ngModel)]="calculate.value" placeholder="R$100">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Quantidade de parcelas</mat-label>
      <input min="1" type="number" matInput [(ngModel)]="calculate.installments">
    </mat-form-field>

    <button (click)="calculateTotalValue()">Calcular</button>
  </div>  

  <div *ngIf="totalValue" class="total">
    <h3>Total a pagar</h3>
    {{totalValue.total | currency:'BRL'}}
  </div>
  
</div>
